<div class="shows-container">
  <div class="component-header component-shows-header">
    <h4>RJ Profiles</h4>
  </div>

  <div class="component-content-container component-shows-container">

    <div class="layout-row flex pad-box-20 ">
      <div class="layout-column flex pad-r-10" style="width:450px;">
        <img src="http://lorempixel.com/200/200/" class="margin-d-10" alt="hello"/>
        <p class="margin-0 margin-t-10">Lorem ipsum is simply dummy</p>
      </div>
      <div class="margin-l-10 layout-column flex flex-rem pad-lr-20">
        <p class="margin-0 margin-d-10">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum
          has been the industry's standard dummy text ever since the 1500's, when an unknown printer took a gallery of type
          and scrambled it to make a type specimen book.
        </p>
        <p class="margin-0 margin-d-10">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum
          has been the industry's standard dummy text ever since the 1500's, when an unknown printer took a gallery of type
          and scrambled it to make a type specimen book.
        </p>
        <p class="margin-0 margin-d-10">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum
          has been the industry's standard dummy text ever since the 1500's, when an unknown printer took a gallery of type
          and scrambled it to make a type specimen book.
        </p>
        <!--<div class="layout-row flex layout-align-start-center">
          <a class="flex icon-button margin-lr-10">
            <i class="mdi mdi-access-point"></i>
            <span> RJ Profile</span>
          </a>
          <a class="flex icon-button margin-lr-10">
            <i class="mdi mdi-access-point"></i>
            <span> Podcasts</span>
          </a>
        </div> -->
      </div>
    </div>

  </div>

</div>
