<div class="shows-container">
  <div class="component-header component-shows-header">
    <h4>{{$ctrl.component}}</h4>
  </div>

  <div class="component-content-container component-gallery-container pad-box-20">

    <div class="carousel-container">
      <div class="current-image">
        <img src="http://lorempixel.com/500/320/">
      </div>
      <div class="image-stack">
        <div class="thumbnail thumbnail-1">
          <img src="http://lorempixel.com/100/100/">
        </div>
        <div class="thumbnail thumbnail-2">
          <img src="http://lorempixel.com/100/100/">
        </div>
        <div class="thumbnail thumbnail-3">
          <img src="http://lorempixel.com/100/100/">
        </div>
      </div>
    </div>


  </div>

</div>
