<div class="shop-now-container">
  <div class="component-header component-shop-now-header">
    <h4>Shop Now</h4>
  </div>

  <div class="component-content-container component-shop-now-container">
    <div class="flex layout-column pad-l-20" style="width:30%;">
      <h2>Categories</h2>
      <div>
        <p>Category 1</p>
        <p>Category 2</p>
        <p>Category 3</p>
        <p>Category 1</p>
        <p>Category 2</p>
        <p>Category 3</p>
      </div>
    </div>
    <div class="flex layout-row flex-rem"></div>
    
  </div>

</div>
