<div class="charts-container">
  <div class="component-header component-charts-header">
    <h4>Charts</h4>
  </div>

  <div class="component-content-container component-charts-container">


    <div class="charts-card layout-row flex layout-align-start-center">

        <div class="flex flex-rem"></div>
      <div class="layout-column flex">
        <h4>Humm FM Top 20</h4>
        <div>
          <div class="layout-row flex flex-rem margin-d-20 chart-table-item">
            <div class="margin-r-10">
              <span>1</span>
            </div>
            <div class="flex flex-rem layout-column">
              <p class="margin-d-10">Song Name</p>
              <p>Album Title, Artist, Artist, Artist</p>
            </div>
          </div>
          <div class="layout-row flex flex-rem margin-d-20 chart-table-item">
            <div class="margin-r-10">
              <span>2</span>
            </div>
            <div class="flex flex-rem layout-column">
                <p class="margin-d-10">Song Name</p>
                <p>Album Title, Artist, Artist, Artist</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-rem"></div>
      <div class="layout-column flex">
        <h4>New Zealand Top 20</h4>
        <div>
          <div class="layout-row flex flex-rem margin-d-20 chart-table-item">
            <div class="margin-r-10">
              <span>1</span>
            </div>
            <div class="flex flex-rem layout-column">
                <p class="margin-d-10">Song Name</p>
                <p>Album Title, Artist, Artist, Artist</p>
            </div>
          </div>
          <div class="layout-row flex flex-rem margin-d-20 chart-table-item">
            <div class="margin-r-10">
              <span>2</span>
            </div>
            <div class="flex flex-rem layout-column">
                <p class="margin-d-10">Song Name</p>
                <p>Album Title, Artist, Artist, Artist</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-rem"></div>
    </div>


  </div>

</div>
