<div class="classifieds-container">
  <div class="component-header component-classifieds-header">
    <h4>Classifieds</h4>
  </div>

  <div class="component-content-container component-classifieds-container">


    <div class="pad-box-20 layout-row flex">

      <div class="flex layout-column" style="width:30%;">
        <h3>Advertiser Login</h3>
        <form class="flex layout-column">
          <input type="email" placeholder="Email">
          <input type="password" placeholder="Password">
          <div class="flex layout-row layout-align-start-center">
            <div class="flex flex-rem layout-column">
              <a href="#">Forgot Password</a>
              <a href="#">Signup</a>
            </div>
            <input type="submit" value="Log In">
          </div>
        </form>

      </div>
      <div class="flex flex-rem"></div>

    </div>



  </div>

</div>
