<div class="shows-container">
  <div class="component-header component-shows-header">
    <h4>Shows</h4>
  </div>

  <div class="component-content-container component-shows-container">

    <div class="layout-row flex layout-align-start-center pad-box-20 ">
      <img src="http://lorempixel.com/200/200/" alt="hello"/>
      <div class="margin-l-10 layout-column flex flex-rem">
        <h3>LOREM IPSUM IS SIMPLY DUMMY TEXT OF PRINTING AND TYPE</h3>
        <p class="margin-0 margin-d-10">Lorem ipsum is simply dummy</p>
        <p class="margin-0 margin-d-10">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum
          has been the industry's standard dummy text ever since the 1500's, when an unknown printer took a gallery of type
          and scrambled it to make a type specimen book.
        </p>
        <div class="layout-row flex layout-align-start-center">
          <a class="flex icon-button margin-lr-10">
            <i class="mdi mdi-access-point"></i>
            <span> RJ Profile</span>
          </a>
          <a class="flex icon-button margin-lr-10">
            <i class="mdi mdi-access-point"></i>
            <span> Podcasts</span>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
